#Production .env
PORT=
NODE_ENV=

FRONTEND_URL=

JWT_SECRET=
SESSION_SECRET=
COOKIE_DOMAIN=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CLIENT_CALLBACK=

GOOGLE_API_KEY=

QDRANT_URL=
QDRANT_API_KEY=

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
UPSTASH_REDIS_REST_PORT=
