# local env file
PORT=8000
NODE_ENV=development

FRONTEND_URL=http://localhost:3000

JWT_SECRET=
SESSION_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CLIENT_CALLBACK=http://localhost:8000/api/auth/google/callback

GOOGLE_API_KEY=

QDRANT_URL=http://localhost:6333
